APP_NAME="Karibu Software"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://tech.karibu.co.ci
APP_TIMEZONE=Africa/Abidjan
APP_LOCALE=fr

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=karibu_tech
DB_USERNAME=karibu
DB_PASSWORD=

DB_ROOT_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120

REDIS_HOST=redis
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_PORT=2525
MAIL_FROM_ADDRESS=noreply@karibu.co.ci
MAIL_FROM_NAME="${APP_NAME}"
