# Dépendances
/vendor
/node_modules

# Environnement
.env
.env.backup
.env.production
.env.docker
.env.deploy
.deploy.env

# Logs
*.log
/storage/logs/*

# Cache
/storage/framework/views/*
/storage/framework/cache/*
/storage/framework/sessions/*
/.phpunit.cache
/.phpactor.json
.phpunit.result.cache

# IDE
/.cursor/
/.idea
/.nova
/.vscode
/.zed
/.codex
_ide_helper.php

# OS
.DS_Store
Thumbs.db

# Laravel
/public/build
/public/hot
/public/storage
/storage/pail
/storage/*.key
/auth.json
Homestead.json
Homestead.yaml

# Fichiers générés
/public/icons/icon-maskable.png
